<div class="secban">
    <div class="banner">
        <h3 id ='time'></h3>
    <h1>Earth news</h1>
    <h3 id = 'user' >{{session}}</h3>
    </div>
    <div class="container">
        <div class="row">
    {{#each data}}
        <div class="col-md-4 news">
         <a href="{{url}}">
             <img src="{{urlToImage}}" alt="news">
        <h3>{{title}}</h3>
        <p class= 'text'>{{description}}</p>
        <span class="info">
            <p class = 'auth'>{{author}}</p>
         <p class = 'time'>{{publishedAt}}</p>
        </span>
       
    </a>
    </div>
    {{/each}}
        </div>
    </div>
</div>

<script>
    var monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
    var time =  new Date();
    var dd = time.getDate();
    var mm = time.getMonth();
    var yyyy = time.getFullYear();

    document.getElementById('time').innerHTML = 'Today '+ monthNames[mm] +"." + dd +"."+yyyy;
    
</script>